In [1]:
import pandas as pd
import numpy as np

In [24]:
ds = pd.read_csv("Iris.csv")
df = ds[0:100]
df['Species'].replace(['Iris-setosa','Iris-versicolor'],[1,-1],inplace = True)
df2 = df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm","Species"]]
df2

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0             5.1           3.5            1.4           0.2        1
1             4.9           3.0            1.4           0.2        1
2             4.7           3.2            1.3           0.2        1
3             4.6           3.1            1.5           0.2        1
4             5.0           3.6            1.4           0.2        1
..            ...           ...            ...           ...      ...
95            5.7           3.0            4.2           1.2       -1
96            5.7           2.9            4.2           1.3       -1
97            6.2           2.9            4.3           1.3       -1
98            5.1           2.5            3.0           1.1       -1
99            5.7           2.8            4.1           1.3       -1

[100 rows x 5 columns]

In [3]:
def euclidean_distance(row1, row2):
	dist = 0.0
	for i in range(len(row1)-1):
		dist += (row1[i] - row2[i])**2
	return sqrt(dist)

In [4]:
def manhattan_distance(row1, row2):
    dist = 0.0
    for i in range(len(row1)-1):
        dist += (row1[i] - row2[i])
    return dist

In [5]:
def chebychev_distance(row1, row2):
    dist = 0.0
    for i in range(len(row1)-1):
        dist = max(row1[i] - row2[i], dist)
    return dist

In [6]:
def minkowski_distance(row1, row2, p):
    dist = 0.0
    for i in range(len(row1)-1):
        dist += (row1[i] - row2[i])**p
    return pow(dist,1/p)

In [27]:
#KNN returns the value of K for which the error will be the least
def KNN(ds, r_size):
    a = 1
    finalList = []
    while(a<10):
        correct_pred = 0
        output = []
        for row1 in ds:
            sum = 0
            list2 = []
            for i in range(r_size):
                d = euclidean_distance(row1, ds[i])
                list2.append([d,i])
            #sort list2 according to d
            #implement this properly
            list2.sort()
            for i in range(K):
                #here i+1 is taken because we will have a zero in list2 (rowI - rowI)
                sum+=ds[list2[i+1][-1]][-1]
            if(sum>0):
                output.append(1)
            else:
                output.append(-1)
        for i in range(r_size):
            if output[i] == ds[i][-1]:
                correct_pred+=1
        finalList.append([correct_pred/r_size,a])
        a+=2
    finalList.sort(reverse=True)
    return(finalList[0][1])